<h1><%= @cat.name %></h1>

<table>
  <tr>
  <th>Birth Date</th>
  <th>Color</th>
  <th>Sex</th>
  </tr>
  <tr>
  <td><%= @cat.birth_date %></td>
  <td><%= @cat.color %></td>
  <td><%= @cat.sex %></td>
  </tr>
</table>
<h3>Descripton:</h3>
<p><%= @cat.description %></p>

<h3>Rental Requests</h3>
<table>
  <tr>
  <th>Start Date</th>
  <th>End Date</th>
  </tr>
  <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
  <tr>
  <td><%= request.start_date %></td>
  <td><%= request.end_date %></td>
  <td><% if request.status == 'PENDING' %>
    <%= (button_to 'Approve', approve_cat_rental_request_url(request), method: "post")%>
    <% elsif request.status == 'APPROVED' %>
        <%= 'APPROVED' %>
      <% else %>
          <%= 'DENIED' %>
      <% end %>
  </td>
  </tr>
  <% end %>
</table>



<%= link_to "Back to index", cats_url %>
